DragonAcc/DragonAcc/.vs
DragonAcc/DragonAcc/bin
DragonAcc/DragonAcc/obj
DragonAcc/DragonAcc.Infrastructure/bin
DragonAcc/DragonAcc.Infrastructure/obj
DragonAcc/DragonAcc.Service/bin
DragonAcc/DragonAcc.Service/obj
